<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>EMVIO Plugin Portal Example</title>
    <style>
        .main {
            display: block;
            height: 900px;
            width: 400px;

            margin: 10px;
            padding: 15px;
        }

        iframe {
            width: 100%;
            height: 100%;
            border: 0;
            display: none;
        }

        #loader {
            display: block;
        }
    </style>
</head>
<body>
<div class="main">

    <iframe id="iframe1"></iframe>
    <div id="loader">Loading Form...</div>
    <form id="myForm">
        <button id="submitme">next</button>
    </form>
</div>

<script>

    let myForm = window.document.getElementById('myForm');

    const saveCardUrl = 'https://api.emviodev.com/pay/v3/saveCard'
    const iframeDomain = saveCardUrl.match(/^http(s?):\/\/.*?(?=\/)/)[0];

    window.addEventListener('message', function messageListener(event) {
        if (event.origin === iframeDomain) {
            console.log('received message', event.data);
            if (event.data.event === 'loaded') {
                window.document.getElementById('iframe1').style.display = 'block';
                window.document.getElementById('loader').style.display = 'none';
            }
            if (event.data.event === 'cardSaved') {
                console.log('card saved', event.data.data);
            }
        }
    });

    function setup() {
        console.log('YO')
        fetch('http://localhost:3400/getToken').then(function (response) {
            return response.text();
        }).then(function (response) {
                const iframe = `${saveCardUrl}?token=${response}`;
            window.document.getElementById('iframe1').src = iframe;
            return window.document.getElementById('iframe1');
        }).then((iframe) => {
            myForm.addEventListener('submit', function processPayment(event) {
                event.preventDefault();
                iframe.contentWindow.postMessage('posted', 'https://api.emviodev.com/pay/v3/saveCard');
                return false; // Need to return false so the form doesn't try to submit itself.
            });
        }).catch((err) => {
            console.log('error---------->', err);
        });
    }

    function addScript(url) {
        let scriptElement = window.document.createElement('script');
        scriptElement.src = url;
        window.document.body.appendChild(scriptElement);
    }

    setup()
</script>
</body>
</html>
